<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="navlogo" [routerLink]="['']"><img [src]="logo"></div>
            <div class="navroute">
                <a href="/44355/api/accounts/login" *ngIf="!auth.isLoggedIn()">Login/Register</a>
                <a href *ngIf="auth.isLoggedIn()" (click)="logout()">Logout</a>
                <a href="/44382/gateway/accounts/auth.getUser()" *ngIf="auth.isLoggedIn()">Profile</a>
            </div>
        </div>
    </header>
</div>

<div class="content">
    <div class="buttons">
        <!--if user is the same-->
        <button class="btn btn-info" *ngIf="confirmUser()" data-target="#updateSongModal" (click)="onUpdateModal(song)" data-toggle="modal">
            <span class="material-icons">create</span></button>
        <button class="btn btn-danger ml-2" *ngIf="confirmUser()" data-target="#deleteSongModal" data-toggle="modal">
            <span class="material-icons">delete</span></button>
        <!--if user is different/not logged in-->
        <button class="btn btn-info" *ngIf="!confirmUser()" (click)="unauthorisedText()">
            <span class="material-icons">create</span></button>
        <button class="btn btn-danger ml-2" *ngIf="!confirmUser()" (click)="unauthorisedText()">
            <span class="material-icons">delete</span></button>
    </div>
    <div class="detail" *ngIf="song">
        <img [src]="song.coverArt" onerror="this.src='./assets/images/coverArt.jpg';">
        <p class="title">{{song.title}}</p>
        <p class="artiste">{{song.artiste}}</p>
    </div>

    <div class="lyrics">
        <div class="original" *ngIf="song">
            <h4>Original Lyrics</h4>
            <hr>
            <p>{{song.lyrics}}</p>
        </div>

        <div class="translated">
            <select class="values" (change)="onTranslate($event)">
                <option selected disabled hidden>Select language:</option>
                <option value="en">English</option>
                <option value="zh-Hans">Chinese (Simplified)</option>
                <option value="zh-Hant">Chinese (Traditional)</option>
                <option value="ms">Malay</option>
                <option value="ta">Tamil</option>
                <option value="ja">Japanese</option>
                <option value="ko">Korean</option>
                </select>
            <hr>
            <p>{{translatedText}}</p>
        </div>
    </div>
</div>

<!-- Update Song Modal -->
<div class="modal fade" id="updateSongModal" tabindex="-1" role="dialog" aria-labelledby="updateSongModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateSongModalLabel">Update Song</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updateSongForm">
                    <div class="genre-container">
                        <select class="form-control form-group col-md-4 genre-select" onchange="document.getElementById('displayValue').value=this.options[this.selectedIndex].text; document.getElementById('idValue').value=this.options[this.selectedIndex].value;">
                            <option>--</option>
                            <option value="English">English</option>
                            <option value="Chinese">Chinese</option>
                            <option value="Korean">Korean</option>
                            <option value="Japanese">Japanese</option>
                            <option value="Others">Others</option>
                        </select>
                        <input type="text" formControlName="genre" id="displayValue" placeholder="Genre" onfocus="this.select()" class="form-control form-group col-md-8 genre-text">
                        <label class="text-danger" *ngIf="updateSongForm.get('genre').touched && updateSongForm.get('genre').errors?.required">This
                            field is mandatory.</label>
                        <input name="idValue" id="idValue" type="hidden">
                    </div>
                    <input type="text" class="form-control mt-3" placeholder="Cover Art" formControlName="coverArt">
                    <input type="text" class="form-control mt-3" placeholder="Title" formControlName="title">
                    <label class="text-danger" *ngIf="updateSongForm.get('title').touched && updateSongForm.get('title').errors?.required">This
                        field is mandatory.</label>
                    <input type="text" class="form-control mt-3" placeholder="Artiste" formControlName="artiste">
                    <label class="text-danger" *ngIf="updateSongForm.get('artiste').touched && updateSongForm.get('artiste').errors?.required">This
                        field is mandatory.</label>
                    <textarea class="form-control mt-3" placeholder="Lyrics" formControlName="lyrics" style="height:150px;"></textarea>
                    <label class="text-danger" *ngIf="updateSongForm.get('lyrics').touched && updateSongForm.get('lyrics').errors?.required">This
                        field is mandatory.</label>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" [disabled]="!updateSongForm.valid" (click)="onUpdate()">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Song Modal -->
<div class="modal fade" id="deleteSongModal" tabindex="-1" role="dialog" aria-labelledby="deleteSongModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body2">
                <h1 id="updateSongModalLabel">Delete Song</h1>
                <p>Are you sure you want to delete this song?</p>
            </div>
            <div class="clearfix">
                <button type="button" class="btn btn-secondary del" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger del" (click)="onDelete()" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>