<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="navlogo" [routerLink]="['']"><img [src]="logo"></div>
            <div class="navroute">
                <a href="/44355/api/accounts/login" *ngIf="!auth.isLoggedIn()">Login/Register</a>
                <a href *ngIf="auth.isLoggedIn()" (click)="logout()">Logout</a>
                <a href="/44382/gateway/accounts/auth.getUser()" *ngIf="auth.isLoggedIn()">Profile</a>
            </div>
        </div>
    </header>
</div>

<div class="cover">
    <div class="container">
        <h3>Search lyrics of your favourite songs or artistes!</h3>
        <nav class="search">
            <input type="text" placeholder="Search.." name="title" [(ngModel)]="title" (ngModelChange)="Filter('','')" autocomplete="off">
            <button type="submit" (click)="Filter(title,''); Scroll()"><i class="fa fa-search"></i></button>
        </nav>
        <div class="filterbtn">
            <button autofocus type="submit" class="genre" (click)='Filter("", ""); Scroll()'> All</button>
            <button type="submit" class="genre" (click)='Filter("", "english"); Scroll()'> English</button>
            <button type="submit" class="genre" (click)='Filter("", "chinese"); Scroll()'> Chinese</button>
            <button type="submit" class="genre" (click)='Filter("", "korean"); Scroll()'> Korean</button>
            <button type="submit" class="genre" (click)='Filter("", "japanese"); Scroll()'> Japanese</button>
        </div>
    </div>
</div>

<!--Song List-->
<div class="songlist">
    <div class="container">
        <table class="table">
            <h2 id="songlist">All Songs</h2>
            <button type="button" class="btn btn-primary" *ngIf="auth.isLoggedIn()" data-toggle="modal" data-target="#newSongModal">
                Create Song
                </button>
            <button type="button" class="btn btn-primary" *ngIf="!auth.isLoggedIn()" (click)="unauthorisedText()">
                    Create Song
                    </button>
            <tbody>
                <tr class="song" *ngFor="let song of songList|slice:0:show; let i = index;">
                    <!-- <td [routerLink]="['/'+ song.id]" class="num">{{ i+1 }}</td> -->
                    <td [routerLink]="['/'+ song.id]" class="group">{{ i+1 }}<img [src]="song.coverArt" onerror="this.src='./assets/images/coverArt.jpg';">{{ song.title }}</td>
                    <td [routerLink]="['/'+ song.id]">{{ song.artiste }}</td>
                </tr>
                <button class="more btn btn-primary" *ngIf="songList.length>show" (click)="showMoreItems()">SHOW MORE</button>
            </tbody>

        </table>
    </div>
</div>

<!--New Song Modal-->
<div class="modal fade" id="newSongModal" tabindex="-1" role="dialog" aria-labelledby="newSongModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newSongModalLabel">Create Song</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="newSongForm">
                    <div class="genre-container">
                        <select class="form-control form-group col-md-4 genre-select" onchange="document.getElementById('displayValue').value=this.options[this.selectedIndex].text; document.getElementById('idValue').value=this.options[this.selectedIndex].value;">
                            <option>--</option>
                            <option value="English">English</option>
                            <option value="Chinese">Chinese</option>
                            <option value="Korean">Korean</option>
                            <option value="Japanese">Japanese</option>
                            <option value="Others">Others</option>
                        </select>
                        <input type="text" formControlName="genre" id="displayValue" placeholder="Genre" onfocus="this.select()" class="form-control form-group col-md-8 genre-text">
                        <label class="text-danger" *ngIf="newSongForm.get('genre').touched && newSongForm.get('genre').errors?.required">This
                            field is mandatory.</label>
                        <input name="idValue" id="idValue" type="hidden">
                    </div>
                    <input type="text" class="form-control mt-3" placeholder="Cover Art (URL)" formControlName="coverArt">
                    <input type="text" class="form-control mt-3" placeholder="Title" formControlName="title">
                    <label class="text-danger" *ngIf="newSongForm.get('title').touched && newSongForm.get('title').errors?.required">This
                        field is mandatory.</label>
                    <input type="text" class="form-control mt-3" placeholder="Artiste" formControlName="artiste">
                    <label class="text-danger" *ngIf="newSongForm.get('artiste').touched && newSongForm.get('artiste').errors?.required">This
                        field is mandatory.</label>
                    <textarea class="form-control mt-3" placeholder="Lyrics" formControlName="lyrics" style="height:150px;"></textarea>
                    <label class="text-danger" *ngIf="newSongForm.get('lyrics').touched && newSongForm.get('lyrics').errors?.required">This
                        field is mandatory.</label>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" [disabled]="!newSongForm.valid" (click)="onAdd()">Save Changes</button>
            </div>
        </div>
    </div>
</div>